<a href="https://colab.research.google.com/github/bhuvan0808/Machine_learning/blob/main/DAVLAB2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

1. import dataset

In [ ]:
df=pd.read_csv("coin_gecko_2022-03-17.csv")

2. display dimensions

In [ ]:
df.shape

(14, 7)

3. display first 10 rows

In [ ]:
df.head(10)

        coin symbol         price     1h    24h     7d    8D
0    Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.0
1   Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.0
2     Tether   USDT      1.000000  0.000  0.000  0.000   3.0
3        BNB    BNB    389.610000  0.002  0.016 -0.010   4.0
4   USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.0
5        XRP    XRP      0.796926  0.006  0.016  0.038   6.0
6      Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.0
7     Solana    SOL     90.620000  0.016  0.058  0.028   NaN
8    Cardano    ADA      0.838396  0.002  0.018 -0.013   9.0
9  Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.0

4. check the class (data type) of each coloum of the dataset

In [ ]:
df.dtypes

coin       object
symbol     object
price     float64
1h        float64
24h       float64
7d        float64
8D        float64
dtype: object

5. calculate the number of null values present in each coloumn of teh dataset

In [ ]:
df.isnull().sum()

coin      0
symbol    0
price     0
1h        0
24h       0
7d        0
8D        1
dtype: int64

6.calculate teh number of null values present in each coloumn of the dataset

In [ ]:
df.isnull().mean()*100

coin      0.000000
symbol    0.000000
price     0.000000
1h        0.000000
24h       0.000000
7d        0.000000
8D        7.142857
dtype: float64

7. drop the coloumns with more than 50% of null values

In [ ]:
threshold = len(df) * 0.5

df = df.dropna(thresh=threshold, axis=1)
df

           coin symbol         price     1h    24h     7d    8D
0       Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.0
1      Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.0
2        Tether   USDT      1.000000  0.000  0.000  0.000   3.0
3           BNB    BNB    389.610000  0.002  0.016 -0.010   4.0
4      USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.0
5           XRP    XRP      0.796926  0.006  0.016  0.038   6.0
6         Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.0
7        Solana    SOL     90.620000  0.016  0.058  0.028   NaN
8       Cardano    ADA      0.838396  0.002  0.018 -0.013   9.0
9     Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.0
10     Polkadot    DOT     18.880000  0.001  0.020  0.056  11.0
11  Binance USD   BUSD      0.999538 -0.001 -0.002 -0.001  12.0
12     Dogecoin   DOGE      0.116850  0.001  0.011 -0.038  13.0
13     TerraUSD    UST      1.000000  0.000 -0.001  0.002  14.0

8. Remove duplicate observations from the ddataset(row and coloumn wise) using drop_duplicate method

In [ ]:
df1=df.drop_duplicates(keep=False)
df1

           coin symbol         price     1h    24h     7d    8D
0       Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.0
1      Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.0
2        Tether   USDT      1.000000  0.000  0.000  0.000   3.0
3           BNB    BNB    389.610000  0.002  0.016 -0.010   4.0
4      USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.0
5           XRP    XRP      0.796926  0.006  0.016  0.038   6.0
6         Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.0
7        Solana    SOL     90.620000  0.016  0.058  0.028   NaN
8       Cardano    ADA      0.838396  0.002  0.018 -0.013   9.0
9     Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.0
10     Polkadot    DOT     18.880000  0.001  0.020  0.056  11.0
11  Binance USD   BUSD      0.999538 -0.001 -0.002 -0.001  12.0
12     Dogecoin   DOGE      0.116850  0.001  0.011 -0.038  13.0
13     TerraUSD    UST      1.000000  0.000 -0.001  0.002  14.0

9. Remove the null values from the dataset by dropping the rows

In [ ]:
df=df.drop_duplicates()
df

           coin symbol         price     1h    24h     7d    8D
0       Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.0
1      Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.0
2        Tether   USDT      1.000000  0.000  0.000  0.000   3.0
3           BNB    BNB    389.610000  0.002  0.016 -0.010   4.0
4      USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.0
5           XRP    XRP      0.796926  0.006  0.016  0.038   6.0
6         Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.0
7        Solana    SOL     90.620000  0.016  0.058  0.028   NaN
8       Cardano    ADA      0.838396  0.002  0.018 -0.013   9.0
9     Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.0
10     Polkadot    DOT     18.880000  0.001  0.020  0.056  11.0
11  Binance USD   BUSD      0.999538 -0.001 -0.002 -0.001  12.0
12     Dogecoin   DOGE      0.116850  0.001  0.011 -0.038  13.0
13     TerraUSD    UST      1.000000  0.000 -0.001  0.002  14.0

In [ ]:
df.shape #before it is (500,9)

(14, 7)

10. Remove the null values from the daataset by dropping the coloumns

In [ ]:
df=df.drop_duplicates(subset=['8D'])
df

           coin symbol         price     1h    24h     7d    8D
0       Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.0
1      Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.0
2        Tether   USDT      1.000000  0.000  0.000  0.000   3.0
3           BNB    BNB    389.610000  0.002  0.016 -0.010   4.0
4      USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.0
5           XRP    XRP      0.796926  0.006  0.016  0.038   6.0
6         Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.0
7        Solana    SOL     90.620000  0.016  0.058  0.028   NaN
8       Cardano    ADA      0.838396  0.002  0.018 -0.013   9.0
9     Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.0
10     Polkadot    DOT     18.880000  0.001  0.020  0.056  11.0
11  Binance USD   BUSD      0.999538 -0.001 -0.002 -0.001  12.0
12     Dogecoin   DOGE      0.116850  0.001  0.011 -0.038  13.0
13     TerraUSD    UST      1.000000  0.000 -0.001  0.002  14.0

11. calculte the average of ech numeric columns of the dataset

In [ ]:
columns_to_average = ['coin', 'symbol', 'price', '1h', '24h','7d','8D']
df[columns_to_average].mean()

<ipython-input-18-938bcf22646c>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[columns_to_average].mean()

price    3167.720103
1h          0.002357
24h         0.016286
7d         -0.001571
8D          7.461538
dtype: float64

12. Display all the unique values of each coloumn

In [ ]:
df.nunique()

coin      14
symbol    14
price     13
1h         7
24h       11
7d        13
8D        13
dtype: int64

13. Display the count of unique values of each coloumn

In [ ]:
unique_values_count = df.nunique()

print(unique_values_count)

coin      14
symbol    14
price     13
1h         7
24h       11
7d        13
8D        13
dtype: int64

14.  Fill the null values of numeric coloumns with the average value(mean) with out using imputer method

In [ ]:
df2 =pd.read_csv("coin_gecko_2022-03-17.csv")

df2.fillna(df.mean())

<ipython-input-21-1e488ebcaff7>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.fillna(df.mean())

           coin symbol         price     1h    24h     7d         8D
0       Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.000000
1      Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.000000
2        Tether   USDT      1.000000  0.000  0.000  0.000   3.000000
3           BNB    BNB    389.610000  0.002  0.016 -0.010   4.000000
4      USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.000000
5           XRP    XRP      0.796926  0.006  0.016  0.038   6.000000
6         Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.000000
7        Solana    SOL     90.620000  0.016  0.058  0.028   7.461538
8       Cardano    ADA      0.838396  0.002  0.018 -0.013   9.000000
9     Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.000000
10     Polkadot    DOT     18.880000  0.001  0.020  0.056  11.000000
11  Binance USD   BUSD      0.999538 -0.001 -0.002 -0.001  12.000000
12     Dogecoin   DOGE      0.116850  0.001  0.011 -0.038  13.000000
13     TerraUSD    UST      1.000000  0.000 -0.001  0.002  14.000000

15. Fill the null values of numeric coloumns with the average value (mean) without using imputer method

In [ ]:
df2.fillna(df.mean())

<ipython-input-22-ea78c93db37f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.fillna(df.mean())

           coin symbol         price     1h    24h     7d         8D
0       Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.000000
1      Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.000000
2        Tether   USDT      1.000000  0.000  0.000  0.000   3.000000
3           BNB    BNB    389.610000  0.002  0.016 -0.010   4.000000
4      USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.000000
5           XRP    XRP      0.796926  0.006  0.016  0.038   6.000000
6         Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.000000
7        Solana    SOL     90.620000  0.016  0.058  0.028   7.461538
8       Cardano    ADA      0.838396  0.002  0.018 -0.013   9.000000
9     Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.000000
10     Polkadot    DOT     18.880000  0.001  0.020  0.056  11.000000
11  Binance USD   BUSD      0.999538 -0.001 -0.002 -0.001  12.000000
12     Dogecoin   DOGE      0.116850  0.001  0.011 -0.038  13.000000
13     TerraUSD    UST      1.000000  0.000 -0.001  0.002  14.000000

16. Fill the null values of both categorical/text and numeric columns with the most frequent value(mode) by using sklearn library's imputer method

In [ ]:
df2.fillna(df.mode())

           coin symbol         price     1h    24h     7d    8D
0       Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.0
1      Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.0
2        Tether   USDT      1.000000  0.000  0.000  0.000   3.0
3           BNB    BNB    389.610000  0.002  0.016 -0.010   4.0
4      USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.0
5           XRP    XRP      0.796926  0.006  0.016  0.038   6.0
6         Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.0
7        Solana    SOL     90.620000  0.016  0.058  0.028   9.0
8       Cardano    ADA      0.838396  0.002  0.018 -0.013   9.0
9     Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.0
10     Polkadot    DOT     18.880000  0.001  0.020  0.056  11.0
11  Binance USD   BUSD      0.999538 -0.001 -0.002 -0.001  12.0
12     Dogecoin   DOGE      0.116850  0.001  0.011 -0.038  13.0
13     TerraUSD    UST      1.000000  0.000 -0.001  0.002  14.0

17. Fill the null values of both categorical/text and numeric columns with the most frequent value(mode) by using sklearn library's imputer method on only specific rows and columns using iloc method

In [ ]:
import pandas as pd
import numpy as np







df3 = pd.read_csv('coin_gecko_2022-03-17.csv')
df3

           coin symbol         price     1h    24h     7d    8D
0       Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.0
1      Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.0
2        Tether   USDT      1.000000  0.000  0.000  0.000   3.0
3           BNB    BNB    389.610000  0.002  0.016 -0.010   4.0
4      USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.0
5           XRP    XRP      0.796926  0.006  0.016  0.038   6.0
6         Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.0
7        Solana    SOL     90.620000  0.016  0.058  0.028   NaN
8       Cardano    ADA      0.838396  0.002  0.018 -0.013   9.0
9     Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.0
10     Polkadot    DOT     18.880000  0.001  0.020  0.056  11.0
11  Binance USD   BUSD      0.999538 -0.001 -0.002 -0.001  12.0
12     Dogecoin   DOGE      0.116850  0.001  0.011 -0.038  13.0
13     TerraUSD    UST      1.000000  0.000 -0.001  0.002  14.0

In [ ]:
df3 = pd.read_csv('coin_gecko_2022-03-17.csv')

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
df3.iloc[:,:]=imputer.fit_transform(df3.iloc[:,:].values)
df3

           coin symbol         price     1h    24h     7d    8D
0       Bitcoin    BTC  40851.380000  0.001  0.000 -0.027   1.0
1      Ethereum    ETH   2824.420000  0.004  0.029  0.034   2.0
2        Tether   USDT      1.000000  0.000  0.000  0.000   3.0
3           BNB    BNB    389.610000  0.002  0.016 -0.010   4.0
4      USD Coin   USDC      0.999739 -0.001  0.000  0.000   5.0
5           XRP    XRP      0.796926  0.006  0.016  0.038   6.0
6         Terra   LUNA     87.640000  0.000 -0.020 -0.118   7.0
7        Solana    SOL     90.620000  0.016  0.058  0.028   1.0
8       Cardano    ADA      0.838396  0.002  0.018 -0.013   9.0
9     Avalanche   AVAX     79.780000  0.002  0.083  0.027  10.0
10     Polkadot    DOT     18.880000  0.001  0.020  0.056  11.0
11  Binance USD   BUSD      0.999538 -0.001 -0.002 -0.001  12.0
12     Dogecoin   DOGE      0.116850  0.001  0.011 -0.038  13.0
13     TerraUSD    UST      1.000000  0.000 -0.001  0.002  14.0

In [ ]:
df3_selected = df3.iloc[:, [0, 1, 2]]

imputer = SimpleImputer(strategy='most_frequent')

imputer.fit(df3_selected)

df3_imputed = imputer.transform(df3_selected)

df3_selected = pd.DataFrame(df3_imputed, columns=df3_selected.columns)

# Print the result
print(df3_selected.head())

       coin symbol     price
0   Bitcoin    BTC  40851.38
1  Ethereum    ETH   2824.42
2    Tether   USDT       1.0
3       BNB    BNB    389.61
4  USD Coin   USDC  0.999739

18. Use the describe() function to display the mean, standard deviation, and Inter Quartile Range (IQR) values of the numeric columns of the dataset.

In [ ]:
df3.describe()

              price         1h        24h         7d         8D
count     14.000000  14.000000  14.000000  14.000000  14.000000
mean    3167.720103   0.002357   0.016286  -0.001571   7.000000
std    10871.645203   0.004361   0.026520   0.042594   4.523443
min        0.116850  -0.001000  -0.020000  -0.118000   1.000000
25%        0.999588   0.000000   0.000000  -0.012250   3.250000
50%        9.940000   0.001000   0.013500   0.000000   6.500000
75%       89.875000   0.002000   0.019500   0.027750  10.750000
max    40851.380000   0.016000   0.083000   0.056000  14.000000

19. Show the count of null values and missing values seperately in each column of the dataset

In [ ]:
df3.isna().sum()

coin      0
symbol    0
price     0
1h        0
24h       0
7d        0
8D        0
dtype: int64

20. Export the cleaned dataset to a new csv file without null or missing or duplicate value.

In [ ]:
df3.to_csv('Lab2-2.csv')