<a href="https://colab.research.google.com/github/bhuvan0808/Machine_learning/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.arange(0,20).reshape(5,4)
df= pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"],columns=["Column1","Column2","Column3","Column4"])
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [ ]:
df.head(2)

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7

In [ ]:
df.head(n=2)

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7

In [ ]:
df.tail(n=4)
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [ ]:
df.tail()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [ ]:
df.tail(n=3)
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [ ]:
type(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      int64
 1   Column2  5 non-null      int64
 2   Column3  5 non-null      int64
 3   Column4  5 non-null      int64
dtypes: int64(4)
memory usage: 372.0+ bytes

In [ ]:
df.describe()

         Column1    Column2    Column3    Column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [ ]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [ ]:
type(df[['Column1','Column3']])

pandas.core.frame.DataFrame

In [ ]:
type(df['Column2'])

pandas.core.series.Series

In [ ]:
df.loc['Row1']
type(df.loc['Row1'])

pandas.core.series.Series

In [ ]:
type(df.loc[['Row1','Row3']])

pandas.core.frame.DataFrame

In [ ]:
df.iloc[2:4,0:2]
df.iloc[2:,1:]

      Column2  Column3  Column4
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [ ]:
df.iloc[1:2]

      Column1  Column2  Column3  Column4
Row2        4        5        6        7

In [ ]:
df.iloc[0:5:3,0:4:3]

      Column1  Column4
Row1        0        3
Row4       12       15

In [ ]:
df.iloc[0:5,0:4:3].values

array([[ 0,  3],
       [ 4,  7],
       [ 8, 11],
       [12, 15],
       [16, 19]])

In [ ]:
df['Column2'].value_counts()
df1=pd.DataFrame(data=[[1,2,np.nan],[2,2,4],[1,np.nan,4]],index=["Row1","Row2","Row3"],columns=["Column1","Column2","Column3"])
df1
df1['Column1']
df1['Column1']
df
df[['Column1','Column3']]
df[df['Column1']>2]

      Column1  Column2  Column3  Column4
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19